<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

<body class="p">

  <!-- Modal HTML -->

  <div class="modal fade show" style="display: block;"> 
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          
          <img class="icono-principal" src="assets/imagenes/LOGO.png" alt="" >
         <h4 class="modal-title">GymRoutine</h4>
         <h5>Admin</h5>
        </div>
        <div id="error" class="merror">{{mensaje}}</div>
        <div class="modal-body">
        <div class= "mitad">
          <form [formGroup]="registroForm" (ngSubmit)="Olvidar()">
            <div class="form-group">
              <input id="email" type="text" class="form-control borde" placeholder="Email" required="required" formControlName="email">
            </div>
                    
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-block btn-lg" value="Restablecer Contraseña">
            </div>
          </form>
          <p class="hint-text small"><a (click)="login()"> Login</a></p>
        </div>
        </div>
      </div>
    </div>
  </div>

</body>
