<mat-toolbar color="primary" style="text-align: center;">
  <mat-toolbar-row>
    <img class="icono-principal rounded-circle" src="assets/imagenes/LOGO.png" style="width: 56px;height: 56px;">
    <h1 style="position: relative;
              width: 100%;
              left: 0;
              text-align: center">Admin</h1>
    <button mat-stroked-button color="white" style="border:2px solid white" (click)="salir()">Salir</button>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid">
  <div class="row" style="justify-content: center;justify-items: center;text-align: center;margin-bottom: 10px;margin-top: 10px;">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card-header card-header-success " style="color:white">
        Usuario
       </div>
      <div class="card card-stats">
          
          <h3 class="card-title" >{{datos.Email}}
          </h3>
        </div>
      
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success " style="color:white">
         Jueves
        </div>
          <h3 class="card-title">{{dia}}</h3>
        
        
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header card-header-success" style="color:white">
          Historial Peso
        </div>
        <div class="card-body">
          <app-peso></app-peso>
        </div>
        
      </div>
    </div>
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success" style="color:white">
            Dias completados ultimo mes
          </div>
          <div class="card-body">
           <app-barra></app-barra>
          </div>

        </div>
      </div>
    </div>


    <br>
    <table class="table table-bordered" style="text-align: center;">
      <thead style="color:white; background-color: #8400ff;">
        <tr>
          <th scope="col">Semana</th>
          <th scope="col">Nº dias completados</th>
          <th scope="col">Media Duración</th>
          <th scope="col">Duración Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of vector; let i=index">
          <ng-container *ngIf="i%2==0; else elsetable">
           
              <th scope="row">{{item.d}}</th>
              <td>{{item.num}} </td>
              <td>{{item.media}}</td>
              <td>{{item.total}}</td>
           
          </ng-container>
          <ng-template #elsetable>
           
              <th scope="row" style="background-color: rgb(157, 80, 230,0.3);">{{item.d}}</th>
              <td style="background-color: rgb(157, 80, 230,0.3);">{{item.num}} </td>
              <td style="background-color: rgb(157, 80, 230,0.3);">{{item.media}}</td>
              <td style="background-color: rgb(157, 80, 230,0.3);">{{item.total}}</td>
            
          </ng-template>
          
        </tr>
        
      </tbody>
    </table>
  </div>